<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">

    <title>Expenses</title>

</head>
<body>
    <header>
        <div class="innerContainer">
            <nav class="flexBox twoCol">
                <a href="/index" class="logo">InsightGrid</a>
                <ul class="flexBox">
                    <a href="/logout">Logout</a> 
                </ul>
            </nav>
    </header>
    <section class="innerContainer">
        <!-- Hero -->
        <div class="hero">
            <h1>You've spent 80% of your budget</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, iste?</p>
            
            <!-- Add Expenses -->
            <form action="/expenses/addExpense" method='POST' class="flexBox">
                <input type="text" placeholder="Expense Name" name='expenseName' class="appForm">
                <select name="category" class="appForm">
                    <option value="null">Expense Category</option>
                    <option value="Social Media">Social Media</option>
                    <option value="Content/SEO">Content/SEO</option>
                    <option value="Paid Search">Paid Search</option>
                    <option value="Paid Search">Email</option>
                </select>
                <input type="number" placeholder="Cost" name='cost' class="appForm">
                <p>Is this a recurring expense?</p>
                <input type="radio" id="recurring" name="recurring" value="yes" checked />
                <label for="recurring">Yes</label>
                <input type="radio" id="nonrecurring" name="recurring" value="no" />
                <label for="recurring">No</label>
                <input type="submit">
            </form>
        </div>
        <div class="spacer"></div>

        <!-- Expense Categories -->
        <div class="flexBox twoCol gap2">
            <div class="card">
                <h3>Social Media</h3>
                <ul>
                    <% expense.filter((item)=> item.category === "Social Media").forEach( el => { %>
                        <li class='expenseItem' data-id='<%=el._id%>'><span class='fa fa-trash del'></span></li>                                     
                    <% }) %>    
                </ul>
            </div>
            <div class="card">
                <h3>Content/SEO</h3>
                <ul>
                    <% expense.filter((item)=> item.category === "Content/SEO").forEach( el => { %>
                        <li class='expenseItem' data-id='<%=el._id%>'><span class='fa fa-trash del'></span></li>                                     
                    <% }) %>    
                </ul>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="flexBox twoCol gap2">
            <div class="card">
                <h3>Paid Search</h3>
                <ul>
                    <% expense.filter((item)=> item.category === "Paid Search").forEach( el => { %>
                        <li class='expenseItem' data-id='<%=el._id%>'><span class='fa fa-trash del'></span></li>                                     
                    <% }) %>    
                </ul>
            </div>
            <div class="card">
                <h3>Email</h3>
                <ul>
                    <% expense.filter((item)=> item.category === "Email").forEach( el => { %>
                        <li class='expenseItem' data-id='<%=el._id%>'><span class='fa fa-trash del'></span></li>                                     
                    <% }) %>    
                </ul>
            </div>
        </div>

    </section>
    <script src="js/main.js"></script>
</body>
</html>