<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <title>InsightGrid: Marketing Budget App</title>
</head>

<body>
    <header>
        <div class="innerContainer">
            <nav class="flexBox twoCol">
                <a href="index.html" class="logo">InsightGrid</a>
                <ul class="flexBox">
                    <li><a href="/login"> Login</a></li>
                    <li><a href="/signup" class="navBtn"> Signup</a></li>
                </ul>
            </nav>
    </header>
    <section class="innerContainer">
        <div class="hero">
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut temporibus quos alias quisquam blanditiis. Impedit itaque perspiciatis fugiat quos ullam, distinctio exercitationem eligendi commodi deleniti explicabo ab id quisquam accusantium?</p>
            <a href="/signup" class="primaryBtn">Get Insights</a>
        </div>
    </section>
    <section class="innerContainer">
        <div class="flexBox twoCol gap2">
            <div class="imageBox">
                <img src="assets/trip-itinerary.jpg" width="100%" class="image">
            </div>
            <div class="textBox">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, sit?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis totam ipsam harum, quibusdam aliquid nulla quasi! Tempore cupiditate eligendi deleniti.</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="innerContainer">
            <p class="footerText">Made with love from Chicago © 2024 Oak + Wren.</p>
        </div>
    </footer>
</body>
</html>